@{
  Layout = "_Layout";
}
@model Hospital.Models.Doctor
<h4>Add a new doctor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DoctorName)
  @Html.TextBoxFor(model => model.DoctorName)
  
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  <input type="submit" value="Add new Doctor" />
}
